<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coordenadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" style="text-align:center">
      <ion-title size="large">Coordenadas</ion-title>
    </div>
     <div class="ion-padding">
      <ion-item>
      <ion-label>Latitud:{{latitud}}</ion-label>
    </ion-item>
     </div>

     <div class="ion-padding">
<ion-item>
      <ion-label>Longitud:{{longitud}}</ion-label>
    </ion-item>
     </div>

     <div class="ion-padding">

      <ion-button expand="full" (click)="obtenerCoordenadas()">obtenerCoordenadas</ion-button>
     </div>
    
 
</ion-content>
